@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.row-width {
    width: 1200px;
    margin: 0 auto;
    padding: 7px 0;
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;;
}

.text-high {
    color: #d2f21b;
}

.h2-high {
    color: #d2f21b;
}

.nav {
    width: 100%;
    padding: 28px 0;
}

.nav .row-width {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 45px;
}

.logo span {
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 8px;
}

nav {
    display: inline-block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 8px 9px 2px 9px;
}

.nav-links {
    color: #fff;
    font-size: 17px;
    transition: all .2s;
    letter-spacing: .5px;
    display: inline-block;
    padding: 2px auto;
    border-bottom: 2px solid transparent;
}

.nav-links:hover {
    text-decoration: none;
    color: #d2f21b;
    border-bottom: 2px solid #d2f21b;
}

/* ---------------- Slick Dots --------------- */

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 25px 0 0;
	padding: 1rem 0;
	
    list-style-type: none;
    outline: none;
}
	
.slick-dots li {
    margin: 0 0.25rem;
    outline: none;
}
	
.slick-dots button {
	display: block;
	width: 12px;
	height: 12px;
	padding: 0;
    outline: none;
			
    border: 1px solid #fff;
    background-color: #ddd;
	border-radius: 100%;
			
	text-indent: -9999px;
}
	
.slick-dots li.slick-active button {
	background-color: #d2f21b;
}

/* ---------------------------------------------------- */



.cta {
    width: 100%;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(105deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('../../resources/images/dmitriy-frantsev-rjSnhPy3bxI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 65%;
    color: #fff;
}

.cta-heading {
    font-size: 42px;
    font-weight: 800;
    width: 700px;
    margin: 0 auto;
}

.cta-text {
    font-size: 15px;
    width: 600px;
    margin: 17px auto;
}

.cta-button {
    padding: 10px;
    display: inline-block;
    margin: 17px auto 0 auto;
    font-size: 15px;
    background-color: #d2f21b;
    color: #0b0320;
    text-align: center;
    width: 170px;
}

.cta-button i {
    color: #0b0320;
}

.cta-button:hover {
    text-decoration: none;
    color: #0b0320;
}

footer {
    background-color: #1c212a;
    color: #fff;
    padding: 50px 0 25px;
}

.logo-footer {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}

footer h3 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.p-70 {
    padding-left: 70px;
}

footer ul {
    list-style: none;
}

footer a, footer p {
    color: rgba(255, 255, 255, 0.623);
    text-decoration: none;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.623);
}

.whatsapp-cta {
    display: block;
    text-align: center;
    padding: 8px;
    width: 200px;
    background-color: #25d366;
    color: #fff;
    transition: all .2s;
}

.whatsapp-cta:hover {
    text-decoration: none;
}

footer .footer-credit {
    width: 100%;
    padding: 15px 22px;
    background-color: rgba(255, 255, 255, 0.212);
    margin-top: 22px;
    border-radius: 7px;
    font-size: 14px;
    text-align: left;
}

footer .footer-credit p {
    margin: 0;
}